<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">4</defaultcontrol>
    <backgroundcolor>$INFO[Skin.String(ColorBackground)]</backgroundcolor>
    <onback>ActivateWindow(Home)</onback>

    <controls>
        <control type="image">
            <left>0</left>
            <top>0</top>
            <width>1920</width>
            <height>1080</height>
            <texture colordiffuse="$INFO[Skin.String(ColorBackground)]">white.png</texture>
            <aspectratio>stretch</aspectratio>
        </control>

        <control type="group" id="870">
            <left>40</left>
            <top>24</top>
            <width>56</width>
            <height>78</height>
            <include content="ButtonIcon">
                <param name="ControlId" value="870" />
                <param name="Icon" value="special://skin/media/hbomax/icons/back.png" />
                <param name="Action" value="PreviousMenu" />
                <param name="Tooltip" value="$LOCALIZE[32000]" />
                <param name="Width" value="56" />
                <param name="Height" value="56" />
                <param name="IconSize" value="28" />
            </include>
        </control>

        <control type="label">
            <left>80</left>
            <top>40</top>
            <width>400</width>
            <height>40</height>
            <font>SectionHeader</font>
            <textcolor>$INFO[Skin.String(ColorTextPrimary)]</textcolor>
            <label>$LOCALIZE[32005]</label>
        </control>

        <control type="group" id="871">
            <left>1640</left>
            <top>32</top>
            <width>200</width>
            <height>56</height>
            <include content="ButtonSecondary">
                <param name="ControlId" value="871" />
                <param name="Label" value="$LOCALIZE[32006]" />
                <param name="Icon" value="special://skin/media/hbomax/icons/settings.png" />
                <param name="Action" value="ActivateWindow(SkinSettings)" />
            </include>
        </control>

        <control type="image">
            <left>80</left>
            <top>120</top>
            <width>360</width>
            <height>880</height>
            <texture colordiffuse="$INFO[Skin.String(ColorSurface)]">white.png</texture>
            <aspectratio>stretch</aspectratio>
        </control>

        <control type="image">
            <left>472</left>
            <top>120</top>
            <width>616</width>
            <height>880</height>
            <texture colordiffuse="$INFO[Skin.String(ColorElevated)]">white.png</texture>
            <aspectratio>stretch</aspectratio>
        </control>

        <control type="image">
            <left>1120</left>
            <top>120</top>
            <width>720</width>
            <height>880</height>
            <texture colordiffuse="$INFO[Skin.String(ColorSurface)]">white.png</texture>
            <aspectratio>stretch</aspectratio>
        </control>

        <control type="list" id="4">
            <left>96</left>
            <top>144</top>
            <width>328</width>
            <height>832</height>
        </control>

        <control type="list" id="5">
            <left>496</left>
            <top>144</top>
            <width>568</width>
            <height>832</height>
        </control>

        <control type="textbox" id="6">
            <left>1152</left>
            <top>144</top>
            <width>656</width>
            <height>832</height>
            <font>DialogBody</font>
            <textcolor>$INFO[Skin.String(ColorTextSecondary)]</textcolor>
        </control>
        <include condition="Skin.HasSetting(DebugOverlay)">DebugOverlay</include>
    </controls>
</window>
